body {
    display: flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding-left: 10%;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#datatable{
  margin-top: 20px;
  margin-bottom: 20px;
}


#navStart{
  margin-left: 7.8%;
}
#navigationBar{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 57px;
  background-color: #222;
  border-color: #080808;

  top: 0;
  border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
#missionMessage{
  font-weight: bold;
}
#getPopUp{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 280px;
  font-size: 15px;
  margin-bottom: 40px;
  align-items: center;

}
#dimensions button{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 150px;
  font-size: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  align-items: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    text-decoration: none;
    font-size: 20px;
}

.navbar-nav>li {
    float: left;
    padding-right: 50px;
    margin-top: 0px;
}

#intendedLearning{
  background: black;
  color: white;
  opacity: 0.9;
  height: 80%;
  margin: 10px;
  padding: 10px;
}

#userAns{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#chat{
  background: white;
  color: black;
  opacity: 1.0;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#popUpChat{
flex-wrap: wrap;
  display: flex;
  border: 2px solid black;
  width: 100%;
  position: fixed;
  left: 20%;
  top: 9%;
  margin-left: 10%;
  max-width: 400px;
  padding: 2%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: grey;
  max-height: 700px;
  margin-top: 12%;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: white;
  background: #222;
}


h1 {
   font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 20px;
}

#chatbot1{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid black 2px;
    padding-bottom: 2%;
    margin-top: 0.5%;
}


#stopButton{
    border-width: 2px;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: 30px;
    align-self: center;
    color: black;
    background-color: white;
    width: 100px;
    font-size: 15px;
}

#dimensions{
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#submited{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 280px;
  font-size: 15px;
}

#submited1{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 280px;
  font-size: 15px;
  margin-bottom: 40px;
}

#helpButton{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 40px;
  align-self: center;
  color: black;
  background-color: white;
  width: 250px;
  font-size: 15px;
}

#helpButton:hover{
  background-color:grey;
}


#mainContainer{
  display: flex;
  flex-direction: column;
}

a:hover {
	cursor: pointer;
	background: yellow;
}

.inactive {
  display: none !important;
}

#missionHeading{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

#missionMessage{
  font-size: 14px;
  text-align: center;
  padding-right: 9px;
  padding-left: 9px;
}
@media screen and (max-width: 900px) {

  body{
    width: 80vw;
  }

  #navStart{
    margin-left: 7.8%;
    margin-top: 2%;
  }
}
