body {
    display: flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding-left: 10%;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


#datatable{
  margin-top: 20px;
  margin-bottom: 20px;
}

#submited1:hover{
  background-color: grey;
}

#navStart{
  margin-left: 7.8%;
}

#navigationBar{
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 57px;
  background-color: #222;
  border-color: #080808;

  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;    left: 0;
  z-index: 1030;
}

#missionMessage{
  font-weight: bold;
}

.col-lg-8 button{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 150px;
  font-size: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  align-items: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    text-decoration: none;
    font-size: 20px;
}

.col-lg-8 button:hover{
  background: grey;
}

.navbar-nav>li {
    float: left;
    padding-right: 50px;
    margin-top: 0px;
}

#muteVol{
  align: left;
  border-width: 0px;
  border-color: none;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: left;
  color: black;
  margin-bottom: 0px;
  margin-right: 0px;
  align-items: left;
  width: 40px;
  height: 40px;
}

#intendedLearning{
  background: black;
  color: white;
  height: 80%;
  margin: 10px;
  margin-top: -20px;
  padding-top: 0px;
  padding: 10px;
}

#userAns{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#chat{
  border: 2px solid black;
  opacity: 1.0;
  margin: 10px;
  padding: 10px;
  width: 87%;
  background: white;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#popUpChat{
  flex-wrap: wrap;
  display: flex;
  border: 2px solid black;
  width: 100%;
  position: fixed;
  top: 9%;
  max-width: 400px;
  padding: 2%;
  justify-content: center;
  background: black;
  margin-left: 24%;
  margin-top: 12%;
}

#wordMeaning{
  display: flex;
  align-items: center;
}

.word-meaning__text{
  margin-left: 5%;
  max-width: inherit;
  flex-wrap: wrap;
  background: black;
  color: white;
  padding: 2%;
  max-width: 300px;
  text-align: center;
  opacity: 0.8;
}

#close{
  align-self: flex-start;
  border: 1px solid black;
  background: white;
  max-width: 30px;
}

.img-responsive{
  align-self: flex-start;
}

#chat.speechBtn{
  font-family: "Titillium Web";
  -webkit-transition: all 0.35s ease-in;
  border: 1px solid #3F7F93;
  margin-right: 9%;
  width: 80%;
  margin-left: 9%;
}


#popUpChat2{
  flex-wrap: wrap;
  display: flex;
  border: 2px solid black;
  width: 100%;
  position: fixed;
  top: 9%;
  max-width: 400px;
  padding: 2%;
  justify-content: center;
  background: black;
  margin-left: 16%;
  margin-top: 12%;
  color: white;
  font-size: 16px;
}

#goBack{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 40px;
  align-self: center;
  color: black;
  background-color: white;
  width: 250px;
  font-size: 15px;
}


.navbar-inverse .navbar-nav>li>a:hover{
  color: white;
  background: #222;
}


h1 {
   font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 20px;
}

#chatbot1{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid black 2px;
    padding-bottom: 2%;
    margin-top: 0.5%;
}


#stopButton{
    border-width: 2px;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    height: 30px;
    align-self: center;
    color: black;
    background-color: white;
    width: 100px;
    font-size: 15px;
}

#dimensions{
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#chat.btn{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 150px;
  font-size: 15px;
  margin-bottom: 40px;
}

#submited1{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 30px;
  color: black;
  background-color: white;
  width: 280px;
  font-size: 15px;
  margin-bottom: 40px;
}

#helpButton{
  border-width: 2px;
  border-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 40px;
  align-self: center;
  color: black;
  background-color: white;
  width: 250px;
  font-size: 15px;
}


#mainContainer{
  display: flex;
  flex-direction: column;
}

a:hover {
	cursor: pointer;
	background: yellow;
}

.inactive {
  display: none !important;
}

#missionHeading{
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

#missionMessage{
  font-size: 14px;
  text-align: center;
  padding-right: 9px;
  padding-left: 9px;
}

@media screen and (max-width: 900px) {

  body{
    width: 80vw;
  }

  #navStart{
    margin-left: 7.8%;
    margin-top: 1%;
  }

  #popUpChat{
    padding: 2%;
    justify-content: center;
    max-height: 950px;
    margin-left: 15%;

  }

  #popUpChat2{
      padding-top: 38%;
      padding: 2%;
      justify-content: center;
      margin-left: 15%;
  }
}
