body {
    display: flex;
    font-family: 'Quicksand',Helvetica,Arial,sans-serif;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#dimension-answers{
  background: url("../images/candy_box.png");
  width: 600px;
  height: 300px;
  margin: auto;
}

#Width_Answer{
  position: relative;
  top: 83px;
  left: 279px;
  width: 90px;
  height: 32px;
}

#Height_Answer{
  position: relative;
  top: 162px;
  left: 392.5px;
  width: 90px;
  height: 32px;
}

#Depth_Answer{
  position: relative;
  top: 260px;
  left: -169px;
  width: 90px;
  height: 32px;
}

#Final_Answer{
  border-radius: 4px;
  width: 200px;
  height: 30px;
  margin: auto;
  display: block;
}

#final_answers h5{
    text-align: center;
}

.images{
  display: block;
  margin:auto;
  width: inherit;
  padding: 0px 20px;
}

#title{
  text-align: center;
}

.fixedbutton{
  position: fixed;
  top: 400px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 0s linear;
  z-index: 1;
}

#leftfixedbutton {
  left: 5px;
}
#rightfixedbutton {
  right: 40px;
}

.book-text{
  text-align: left;
}

#book_content{
  text-align: center;
  margin: auto;
  padding: 5px 70px 5px 70px;
  position: relative;
  overflow: scroll;
}

.container{
  width: inherit;
  margin: 0;
}

#wordMeaning{
  display: flex;
  align-items: center;
}

.word-meaning__text{
  margin-left: 5%;
  max-width: inherit;
  flex-wrap: wrap;
  background: black;
  color: white;
  padding: 2%;
  max-width: 300px;
  text-align: center;
  opacity: 0.8;
}

#close{
  align-self: flex-start;
  border: 1px solid black;
  background: white;
  max-width: 30px;
}

.img-responsive{
  align-self: flex-start;
}

h1 {
   font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 20px;
}

.buttons {
  display: block;
  justify-content: center;
  height: 30px;
  width: 280px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #47A1BF;
  border-radius: 8px;
  margin: 40px auto 40px auto;
  outline: none;
}

.buttons:hover {
  background-color: #47A1BF ;
  color: white;
}

.inactive {
  display: none !important;
}

input[type=text] {
    box-sizing: border-box;
    border: 1px solid black;
}

.spoken-response {
    -webkit-transition: all 0.35s ease-in;
}
