html, body {
  height: 100%;
  margin: 0;
}

.main {
  position: absolute;
  float:left;
  top: 0;
  left: 0;
  border: 0;
  height: 100%;
  width: 70%;
}

.full {
  width: 100%;
}

.ada {
  position: absolute;
  float:left;
  align:right;
  left: 70%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  border: 0;
  border-left: 1px solid gray;
}

.hidden {
  visibility: hidden;
}
